<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio.la</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="#yo">Yo</a>
					</li>

					<li>
						<a href="#perfil">Perfil </a>
					</li>

					<li>
						<a href="#trabajo">Trabajo</a>
					</li>

					<li>
						<a href="#contacto">Contacto</a>
					</li>
				</ul>	
			</nav>
			<figure>
				<img src="avatar.jpg" alt="Imagen personal">
				<figcaption><a href="http://twitter.com/leonidasesteban/" target="_blank">LeonidasEsteban</a>
				</figcaption>
				<p>Leonidas Esteban</p>
			</figure>
		</header>
		<section>
		<h2>Mi Perfil</h2>
			<p>
				Hola! Si llegaste hasta aqui puedes ver mi portafolio y contactarme
			</p>
			<a href="http://twitter.com/leonidasesteban/" target="_blank">@LeonidasEsteban</a>
			<a href="http://facebook.com/leonidasesteban/" target="_blank">Leonidas Esteban</a>
			<a href="http://github.com/leonidasesteban/" target="_blank">LeonidasEsteban</a>
		</section>
		<section>
			<h2>Mi Trabajo</h2>
			<article>
				<figure>
				<img src="mejorandola.jpg" alt="Es la descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
				</figure>
			</article>
				<article>
				<figure>
				<img src="mejorandola.jpg" alt="Es la descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
				</figure>
			</article>
				<article>
				<figure>
				<img src="mejorandola.jpg" alt="Es la descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
				</figure>
			</article>
				<article>
				<figure>
				<img src="mejorandola.jpg" alt="Es la descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
				</figure>
			</article>
				<article>
				<figure>
				<img src="mejorandola.jpg" alt="Es la descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
				</figure>
			</article>
				<article>
				<figure>
				<img src="mejorandola.jpg" alt="Es la descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
				</figure>
			</article>
		</section>
		<footer>
			<h3>Contacto</h3>
			<p>Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			<form>
				<input type="text" placeholder="Nombre"/>
				<input type="email" placeholder="Email"/>
				<textarea placeholder="Motivo"></textarea>
				<button type="submit">Contactame</button>
			</form>
		</footer>
	</body>
</html>